body {
    background: #333;
    min-height: 100vh;
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    background: #006699;
    padding: 3rem;
    display: flex;
    border-radius: 1rem;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    display:grid;
    grid-template-columns:auto auto;
    row-gap:1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.title {
    margin:0;
    text-align: center;
}

label {
    font-weight: bolder;
}

.character-amount-container {
    display: flex;
    align-items: center;
}

.number-input {
    width: 2.5rem;
}
.password-display {
    background:white;
    color:black;
    padding: 1rem;
    border: 1px solid #333;
    border-radius: .5rem;
    height: 2rem;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}

.btn {
    grid-column: span 2;
    background:transparent;
    color: white;
    padding: .5rem 1rem;
    border: 2px solid white;
    border-radius: 1rem;
    font-weight: bold;
    cursor:pointer;
}
.btn:hover {
    background-color: #ffffff33;
}